html {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Merriweather', serif;
}

nav {
    overflow: hidden;
    font-size: 23px;
}

.navlogo {
    float: left;
    color: #367738;
    font-size: 25px;
}

nav a {
    float: right;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 15px;
    text-decoration: underline;
    text-decoration-color: #367738;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

header .name {
    float: left;
    color: #333;
    font-size: 42px;
    margin-top: 50px;

}

header .job-title {
    float: right;
    color: #ababab;
    font-size: 25px;
    margin-top: 70px;
}

hr {
    border: 0;
    height: 1px;
    background: #c5c5c5;
    margin-top: 90px;
}

section {
    display: flex;
    padding: 20px;
}

.content-right {
    flex: 2;
    margin-top: 0px;
    margin-left: 0px;
    background: #ababab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 300px;
}

.content-left {
    flex: 2;
    margin-top: 30px;
    margin-right: 155px;
    margin-left: 45px;
}

p {
    text-align: center;
    font-size: 35px;
    margin: 0;
}

/* Responsive styles */
@media (min-width: 1441px) and (max-width: 2561px) {

    .menu-icon {
        display: none;
    }

    img {
        height: 620px;
        width: auto;
    }

    p {
        font-size: 35px;
    }

    .content-right {
        margin-left: 300px;
        margin-right: 100px;
        margin-top: 70px;
    }
}

@media (min-width: 1025px) and (max-width: 1441px) {

    .menu-icon {
        display: none;
    }

    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    header .name {
        font-size: 30px;
    }

    header .job-title {
        font-size: 18px;
        margin-top: 60px;
    }

    hr {
        margin-top: 80px;
    }

    img {
        height: 550px;
        width: auto;
    }

    .content-right {
        margin-left: 200px;
        margin-right: 100px;
        margin-top: 80px;
    }

    p {
        font-size: 28px;
    }
}