html {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: 'Merriweather', serif;
}

nav {
    overflow: hidden;
    font-size: 23px;
}

.navlogo {
    float: left;
    color: #367738;
    font-size: 25px;
}

nav a {
    float: right;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 15px;
    text-decoration: underline;
    text-decoration-color: #367738;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

header .name {
    float: left;
    color: #333;
    font-size: 42px;
    margin-top: 50px;

}

header .job-title {
    float: right;
    color: #ababab;
    font-size: 25px;
    margin-top: 70px;
}

hr {
    border: 0;
    height: 1px;
    background: #c5c5c5;
    margin-top: 90px;
}

section {
    display: flex;
    padding: 20px;
}

.content-right {
    flex: 2;
    margin-top: 0px;
    margin-left: 0px;
    background: #ababab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 300px;
}

.content-left {
    flex: 2;
    margin-top: 30px;
    margin-right: 155px;
    margin-left: 45px;
}

p {
    text-align: center;
    font-size: 35px;
    margin: 0;
}

/* Responsive styles */
@media (min-width: 1441px) and (max-width: 2561px) {

    .menu-icon {
        display: none;
    }

    p {
        font-size: 30px;
    }

    .content-left {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 70px;
    }

    .content-right {
        margin-left: 150px;
        margin-right: 10px;
        margin-top: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1441px) {

    .menu-icon {
        display: none;
    }

    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    .navlogo {
        font-size: 16px;
    }

    nav {
        font-size: 14px;
    }

    header .name {
        font-size: 30px;
    }

    header .job-title {
        font-size: 18px;
        margin-top: 60px;
    }

    hr {
        margin-top: 80px;
    }

    .content-left {
        margin-left: 20px;
        margin-right: 50px;
        margin-top: 25px;
    }

    .content-right {
        margin-left: 60px;
        margin-right: 10px;
        margin-top: 10px;
    }

    p {
        font-size: 28px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {

    .menu-icon {
        display: none;
    }

    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    .navlogo {
        font-size: 17px;
    }

    nav {
        font-size: 15px;
    }

    header .name {
        font-size: 32px;
    }

    header .job-title {
        font-size: 20px;
        margin-top: 60px;
    }

    hr {
        margin-top: 80px;
    }

    .content-left {
        margin-right: 15px;
        margin-left: 1px;
        margin-top: 30px;
    }

    .content-right {
        margin-left: 5px;
        margin-right: 2px;
        margin-top: 1px;
    }

    p {
        font-size: 24px;
    }
}

@media (min-width: 426px) and (max-width: 769px) {

    .menu-icon {
        display: none;
    }

    body {
        margin-left: 3%;
        margin-right: 3%;
    }

    .navlogo {
        font-size: 17px;
    }

    nav {
        font-size: 15px;
    }

    header .name {
        font-size: 32px;
    }

    header .job-title {
        font-size: 20px;
        margin-top: 60px;
    }

    hr {
        margin-top: 80px;
    }

    .content-left {
        margin-right: 90px;
        margin-left: 2px;
        margin-top: 10px;
    }

    .content-right {
        margin-left: 1px;
        margin-top: 1px;
    }

    p {
        font-size: 22px;
    }
}

@media (min-width: 378px) and (max-width: 426px) {

    .nav-links {
        float: right;
        margin: 0;
        padding: 0;
        display: none;
    }

    .nav-links a {
        display: block;
        color: #000;
        text-align: center;
        padding: 28px;
        text-decoration: none;
    }

    .menu-icon {
        display: none;
        float: right;
        font-size: 24px;
        padding: 15px;
        display: block;
    }

    .navtext.responsive .menu-icon {
        float: right;
    }

    .navtext.responsive .nav-links {
        display: block;
        width: 100%;
        text-align: center;
    }

    .navlogo {
        font-size: 20px;
        padding-top: 20px;
    }

    header .name {
        font-size: 28px;
    }

    hr {
        margin-top: 155px;
    }

    header .job-title {
        margin-top: 25px;
        font-size: 22px;
    }

    section {
        flex-direction: column;
        /* Change flex-direction to column-reverse */
    }

    .content-left {
        width: 100%;
        height: auto;
    }

    .content-right {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 22px;
    }

}