@import url('common.css');

.content-right {
    flex: 2;
    margin-top: 0px;
    margin-left: 0px;
    background: #ababab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 300px;
}

.content-left {
    flex: 2;
    margin-top: 30px;
    margin-right: 155px;
    margin-left: 45px;
}


/* Responsive styles */
@media (min-width: 1441px) and (max-width: 2561px) {

    .content-left {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 70px;
    }

    .content-right {
        margin-left: 150px;
        margin-right: 10px;
        margin-top: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1441px) {

    .content-left {
        margin-left: 20px;
        margin-right: 50px;
        margin-top: 25px;
    }

    .content-right {
        margin-left: 60px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {

    .content-left {
        margin-right: 15px;
        margin-left: 1px;
        margin-top: 30px;
    }

    .content-right {
        margin-left: 5px;
        margin-right: 2px;
        margin-top: 1px;
    }

    p {
        font-size: 24px;
    }
}

@media (min-width: 426px) and (max-width: 769px) {

    .content-left {
        margin-right: 30px;
        margin-left: 1px;
        margin-top: 10px;
    }

    .content-right {
        margin-left: 1px;
        margin-top: 1px;
    }
}

@media (min-width: 378px) and (max-width: 426px) {

    header .job-title {
        margin-top: 30px;
        font-size: 25px;
        width: 100%;
    }

    section {
        flex-direction: column-reverse;
    }


    .content-left {
        width: 100%;
        height: auto;
        margin: 0%;
        margin-top: 25px;
    }

    .content-right {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 23px;
        height: 55px;
        margin-top: 20px;
    }
}

@media (min-width: 321px) and (max-width: 376px) {

    section {
        flex-direction: column-reverse;
    }

    .content-left {
        width: 100%;
        height: auto;
        margin: 0%;
        margin-top: 25px;
    }

    .content-right {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 23px;
        height: 55px;
        margin-top: 20px;
    }
}

@media (max-width: 321px) {

    .content-left {
        width: 100%;
        height: auto;
        margin: 0%;
        margin-top: 25px;
    }

    .content-right {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 20px;
        height: 45px;
        margin-top: 20px;
    }
}